body{
	background: url('logo.jpg');
	background-attachment: fixed;
}
.navbar-inverse{
	border-radius: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}
.navbar-nav > li > a{
	margin: 35px;
	text-align: center;
	font-size: 25px;
}
.navbar-brand > a > img {
	margin-left: 0px;
}
.jumbotron{
	margin-top: 0px;
	margin-bottom: 0px;
}
.col-sm-12{
	padding: 20px;
}
